contourpy
cycler
fonttools
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
plotly
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
tenacity
threadpoolctl
tzdata
xgboost
kaleido